h1 {
    text-align: center;
}

body {background-color: #DCA846;

}


main {
    text-align: center;

} 





header {
    background-color: #FAE950;
    padding: 2px;
}


h2 {
    margin-left: 50px;
}

div { margin-bottom: 25px;  }

footer{
    background-color: #FAE950;
    padding: 2px;
}